.style {
    margin-top: 10%;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

h1.span {
    color: #017143;
}

.text1, .text2 {
    font-size: 60px;
}

.text3 {
    color: #017143;
}

.website {
    text-decoration: none;
    color: #017143;
}

#grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 5px 5px;
}

.style1 {
    top: -20%;
}